Package: Aseprite
Version: 1.3.12-beta1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: David & Gaspar Capello -- Igara Studio
Homepage: https://aseprite.org
Installed-size: 204400
Description: Animated sprite editor & pixel art tool (Windows, macOS, Linux) 
