name: ninja aseprite
on:
  repository_dispatch:
    types: [build]
  watch:
    types: [started]
jobs:
  build-win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Ninja
      uses: ashutoshvarma/setup-ninja@v1
      with:
        version: 1.10.0
        dest: ninja_bin
        platform: win
    - name: Get Download Links
      run: |
        echo "::set-output name=action_ase::$(iwr https://api.github.com/repos/aseprite/aseprite/releases/latest | Select -ExpandProperty Content | jq -r '.assets[].browser_download_url')"
        echo "::set-output name=action_skia::$(iwr https://api.github.com/repos/aseprite/skia/releases/latest | Select -ExpandProperty Content | jq -r '.assets[].browser_download_url' | findstr Windows | findstr 64)"
        echo "::set-output name=action_tag::$(iwr https://api.github.com/repos/aseprite/aseprite/releases/latest | Select -ExpandProperty Content | jq -r '.tag_name')"
      id: links
    - name: Clone aseprite source
      run: |
        iwr -outf source.zip ${{ steps.links.outputs.action_ase }}
        7z x source.zip -y -oaseprite | findstr ing
    - name: Download compiled skia
      run: |
        iwr -outf skia.zip ${{ steps.links.outputs.action_skia }}
        7z x skia.zip -y -oskia | findstr ing
    - name: Find path
      id: path
      run: echo "::set-output name=working_path::$(pwd | findstr \)"
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.2.0
      with:
        arch: x64
        sdk: 10.0.18362.0
    - name: Compiling aseprite for Windows
      run: |
        cd aseprite
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DLAF_BACKEND=skia -DSKIA_DIR=${{ steps.path.outputs.working_path }}\skia -DSKIA_LIBRARY_DIR=${{ steps.path.outputs.working_path }}\skia\out\Release-x64 -DCMAKE_IGNORE_PATH="C:/ProgramData/chocolatey/bin/;C:/Strawberry/c/bin/" -G Ninja ..
        ninja aseprite
    - name: Archive bin
      run: |
        cd aseprite\build\bin
        7z -tzip a Aseprite-${{ steps.links.outputs.action_tag }}-win-x64.zip * -mx0 | findstr ing
        cd ..\..\..
        mv aseprite\build\bin\Aseprite-${{ steps.links.outputs.action_tag }}-win-x64.zip .
    - name: Upload Windows artifact
      uses: actions/upload-artifact@v2
      with:
        path: Aseprite-${{ steps.links.outputs.action_tag }}-win-x64.zip
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: sudo apt install -y cmake ninja-build libxcursor-dev libxi-dev libgl1-mesa-dev
      - name: Get Download Links
        run: |
          echo "::set-output name=action_ase::$(curl -sL https://api.github.com/repos/aseprite/aseprite/releases/latest | jq -r '.assets[].browser_download_url')"
          echo "::set-output name=action_skia::$(curl -sL https://api.github.com/repos/aseprite/skia/releases/latest | jq -r '.assets[].browser_download_url' | grep Linux | grep 64)"
          echo "::set-output name=action_tag::$(curl -s https://api.github.com/repos/aseprite/aseprite/releases/latest | jq -r '.tag_name')"
        id: links
      - name: Clone aseprite source
        run: |
          wget -O source.zip ${{ steps.links.outputs.action_ase }}
          7z x source.zip -y -oaseprite | grep ing
      - name: Download compiled skia
        run: |
          wget ${{ steps.links.outputs.action_skia }} -O skia.zip
          7z x skia.zip -y -oskia | grep ing 
      - name: Find path
        id: path
        run: echo "::set-output name=working_path::$(pwd)"
      - name: Compiling aseprite for linux
        run: |
           cd aseprite
           mkdir build
           cd build
           cmake -DCMAKE_BUILD_TYPE=Release -DLAF_BACKEND=skia -DSKIA_DIR=${{ steps.path.outputs.working_path }}/skia -DSKIA_LIBRARY_DIR=${{ steps.path.outputs.working_path }}/skia/out/Release-x64 -G Ninja ..
           ninja aseprite
      - name: Package deb
        run: |
           mkdir deb-frame/usr/share/aseprite
           cp -r aseprite/build/bin/* deb-frame/usr/share/aseprite/
           dpkg -b deb-frame Aseprite-${{ steps.links.outputs.action_tag }}-ubuntu_amd64.deb
      - name: Upload linux artifact
        uses: actions/upload-artifact@v2
        with:
          path: Aseprite-${{ steps.links.outputs.action_tag }}-ubuntu_amd64.deb
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get Download Links
      run: |
        brew install ninja
        echo "::set-output name=action_ase::$(curl -s https://api.github.com/repos/aseprite/aseprite/releases/latest | jq -r '.assets[]?.browser_download_url')"
        echo "::set-output name=action_skia::$(curl -s https://api.github.com/repos/aseprite/skia/releases/latest | jq -r '.assets[]?.browser_download_url' | grep mac)"
        echo "::set-output name=action_tag::$(curl -s https://api.github.com/repos/aseprite/aseprite/releases/latest | jq -r '.tag_name')"
      id: links
    - name: Clone aseprite source
      run: |
        wget -O source.zip ${{ steps.links.outputs.action_ase }}
        7z x source.zip -oaseprite | grep ing
    - name: Download compiled skia
      run: |
        wget -O skia.zip ${{ steps.links.outputs.action_skia }}
        7z x skia.zip -y -oskia | grep ing
    - name: Compiling aseprite for macOS
      run: |
        cd aseprite
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES=x86_64 -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 -DCMAKE_OSX_SYSROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk -DLAF_BACKEND=skia -DSKIA_DIR=../../skia -DSKIA_LIBRARY_DIR=../../skia/out/Release-x64 -G Ninja ..
        ninja aseprite
    - name: Archive bin
      run: |
        cd aseprite/build/bin
        7z -tzip a Aseprite-${{ steps.links.outputs.action_tag }}-osx-x64.zip * -mx0 | grep ing 
        cd ../../..
        mv aseprite/build/bin/Aseprite-${{ steps.links.outputs.action_tag }}-osx-x64.zip .
    - name: Upload macos artifact
      uses: actions/upload-artifact@v2
      with:
          path: Aseprite-${{ steps.links.outputs.action_tag }}-osx-x64.zip
  Upload:
    needs: [build-win, build-linux, build-macos]
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v2
    - name: Get tag
      run: echo "::set-output name=action_tag::$(curl -s https://api.github.com/repos/aseprite/aseprite/releases/latest | jq -r '.tag_name')"
      id: links
    - name: Create new release
      id: create_release
      uses: actions/create-release@latest
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: ${{ steps.links.outputs.action_tag }}
          release_name: Aseprite ${{ steps.links.outputs.action_tag }}
          draft: false
          body: |
            Unofficial dev release.
            Support official version at https://www.aseprite.org/download
          prerelease: false
    - name: Upload Windows package to release
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifact/Aseprite-${{ steps.links.outputs.action_tag }}-win-x64.zip
          asset_name: Aseprite-${{ steps.links.outputs.action_tag }}-win-x64.zip
          asset_content_type: application/zip
    - name: Upload linux package to release
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifact/Aseprite-${{ steps.links.outputs.action_tag }}-ubuntu_amd64.deb
          asset_name: Aseprite-${{ steps.links.outputs.action_tag }}-ubuntu_amd64.deb
          asset_content_type: application/zip
    - name: Upload macos package to release
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifact/Aseprite-${{ steps.links.outputs.action_tag }}-osx-x64.zip
          asset_name: Aseprite-${{ steps.links.outputs.action_tag }}-osx-x64.zip
          asset_content_type: application/zip
